/*.container{
    border: 1px solid greenyellow;

}

#content{
    border:1px solid red;
}

#general-info-content{
    border:1px solid peru;
}

#sidebar{
    border:3px solid purple;
}
*/
/*#content-logo-title-desk{
    border:1px solid red;
}

#item-menu-sidebar{
    border:1px solid pink;
}

#social-network-link{
    border:1px solid aquamarine
}*/