body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  background-color: #212529 !important;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underrescord{
  border-bottom: 5px solid #20c997;
}

.text-principal-color{
  color: #20c997
}

.btn-dow{
  margin-top: 20px;;
  max-width: 196px;
  background-color: #20c997;
  border-color: #20c997;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  border-radius: 50rem!important;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.fw-table{
  font-weight: 600 !important;
  margin-right: 0.5rem!important;
  color: #dee3e4 !important;
}

#sidebar{
  display: none;
}

.container{
  display: grid;
  grid-template-areas: 
  'menu'
  'content';
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
  height: 100vh;
  /*gap: 5px;*/
}


#menu-mobile{
  grid-area: menu;
  display: flex;
  flex-direction: row-reverse;
  padding:20px;
}

#icon-bars{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #252525;
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#content{
  grid-area: content;
  display: flex;
}

#general-info-content-home{
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 550px;;
}

#content-logo, #content-logo-desk{
  background-image: url("./assets/image/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*border: 4px solid #252525;*/
  border: 10px solid #343A40;

  height: 270px;
  width: 270px;
  margin: 0 auto;
  border-radius: 50%;
}

#personal-description h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;;
  color: #20c997;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin:0px;
  padding-top:10px;
  line-height: 62px;;
}

#personal-description span {
  color: white;
  display: block;
}

#personal-description p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

#buttom-about-me {
  margin-top:30px;
  display: flex;
}

#btn-about{
  border:1px solid #20c997;
  overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
    margin: 0 auto;
}

#btn-about:hover{
  background-color: #20c997;
}

/*=================Sidebar====================*/



/*======Media Query=====*/
@media (min-width: 993px){
  
  #content-logo, #menu-mobile{
    display: none;
  }

  #sidebar{
    display: block;
  }

  .container{
    display: grid;
    grid-template-areas: 
    'sidebar content';
    grid-template-columns: 260px auto;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    height: 100vh;
    width: 100%;
  }



  #sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: #111418;
    padding-top:30px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #content-logo-title-desk{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #content-logo-desk{
    height: 190px;
    width: 190px;
  }

#content-logo-title-desk h1{
  margin:0px;
}

#item-menu-sidebar{
    margin-top: 30px;
}

#item-menu-sidebar ul{
  text-align: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#item-menu-sidebar ul li {
  padding: 10px 0px;
}

.link-sidebar{
  color: #FAFDFAE6;
  text-decoration: none;
}

.link-sidebar:hover{
  color: #20c997!important;
  cursor:pointer;
}

/*==========Social Network==========*/
#social-network-link{
  display: flex;
  justify-content: center;
}

#social-network-link div{
  margin-left:10px;
   margin-right: 10px;;
}
/*======Content=====*/

  #content{
    grid-area: content;
    width: 100%;
  }

}

.icon-link{
  color:#aab1b8;
}

/*==================About me==============*/

#general-info-content-about{
  display: grid;
  align-items: center;
  grid-template-areas: 
  'title'
  'description'
  'details';
  grid-template-columns:1fr;
  grid-template-rows: 1fr 4fr 1fr;
  width: 100%;
  /*border: 1px solid red;*/
}

#personal-title{
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border:1px solid purple;*/
}

#title-content{
  font-size: 33px;;
  /*border:1px solid red;*/
}



#description-about{
  grid-area: description;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 900px;
  max-width: 1200px;
  padding:10px;
  /*border:1px solid yellow;*/
}

#about-content{
  padding:5px;
}

#about-content h3{
  font-size: 28px;
  font-weight: 600;
}

#about-content p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255,255,255,.5)!important;
}

#description-table{
  grid-area: table-detail;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border:1px solid violet;*/
}

#description-table ul {
  margin: 0;
  padding: 0;
  width: 360px;
}
#description-table ul li{
  margin: 0;
  list-style: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.12);
  padding-top: 12px;
  padding-bottom: 12px;

}

#details{
  grid-area: details;
  display: flex;
  flex-direction: row;
  justify-content: center;
 /* border: 1px solid brown;*/
}

#details p{
  margin:0;
}

#details > div{
  padding-top: 20px;;
  margin-left:5px;
  margin-right: 5px;;
  text-align: center;
  border-right: 1px dotted rgba(250, 250, 250, 0.15);
  width:25%;
  /*border:1px solid red;*/
}

#details .yearx{
  font-weight: 500;
  line-height: 1.3;
  font-size: 3rem;
  color: rgba(255,255,255,.5)!important;
  text-align: center;
}

#details .yeard{
  color:#dee3e4 !important;
  line-height: 1.8;
  text-align: center;
}


@media(max-width:993px){
  #description-about{
    flex-direction: column;
    width:70%;
  }

  #about-content h3, p{
    text-align: center;
  }

  #description-table ul{
    width:100%;
  }
}


/*===========What i do===========*/

/*===========Project===========*/

#general-info-container{
  display:grid;
  grid-template-areas:
  'titleprooject'
  'detailsproject';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  width: 100%;;
}

#title-project{
  grid-area: titleprooject;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid red;
}

#title-content-project{
  font-size: 33px;
}

#details-project{
  grid-area: detailsproject;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;

  border:1px solid blue;
}

.itembox{
  height: 300px;
  min-width:300px;
  margin:5px;
  flex-grow: 1;
  
  border:1px solid yellowgreen;

}

/*===========Contact===========*/

